body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background: #fff;
}
a {
  text-decoration: none;
  font-style: normal;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
}

.container {
  margin: 0px auto;
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}

.header-address-link:hover,
.header-address-link:focus {
  color: #404bbf;
}
.team-icon-link:hover,
.team-icon-link:focus {
  background-color: #404bbf;
}
.team-icon-link-footer:hover,
.team-icon-link-footer:focus {
  background-color: #31d0aa;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */
.header {
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  gap: 332px;
  align-items: center;
}
.header-navigation {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}
.header-logo-studio {
  color: #2e2f42;
}
.header-menu-list {
  display: flex;
  gap: 40px;
}
.header-menu-item {
}
.header-menu-link {
  display: block;
  color: #2e2f42;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  position: relative;
  color: #404bbf;
}
.current::after {
  content: "";
  border-radius: 2px;
  background-color: #404bbf;
  position: absolute; /* Абсолютне позиціонування відносно батьківського елемента */
  bottom: -1px;
  left: 0;
  height: 4px;
  width: 100%;
}

.address {
  font-style: normal;
}
.header-address-list {
  display: flex;
  gap: 40px;
}
.header-address-item {
}
.header-address-link {
  color: #434455;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ----------- */

/* -----main------ */
.main {
}
/* -----hero------ */
.hero {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people.jpg);
  max-width: 1440px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero-container {
  padding: 188px 0;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  gap: 48px;
  align-items: center;
}
.hero-title {
  color: var(--WHITE, #fff);
  text-align: center;
  font-family: inherit;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 0.02em;
  max-width: 496px;
}

.hero-order-btn {
  min-width: 169px;
  height: 56px;
  display: block;
  padding: 16px 32px;
  border-radius: 4px;
  background: #4d5ae5;
  color: #fff;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-order-btn:hover,
.hero-order-btn:focus {
  background: #404bbf;
}

/* ----------- */

/* -----features------ */
.features {
}

.features-list {
  display: flex;
  gap: 24px;
}
.features-item {
  width: calc((100% - 72px) / 4);
}
.container-for-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  background: var(--CLOUD, #f4f4fd);
  border-radius: 4px;
  margin-bottom: 8px;
  border: 1px solid var(--LIGHT-SLATE, #8e8f99);
}
.icons_section_two {
}

.features-subtitle {
  color: #2e2f42;
  font-family: inherit;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.features-text {
  color: inherit;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
/* ----------- */

/* ----- TEAM------ */
.team {
  background: #f4f4fd;
}
.team-title {
  color: #2e2f42;
  text-align: center;
  font-family: inherit;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin: 0 auto 72px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.team-list-item {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-list-img {
  margin: 0 auto;
  max-width: 264px;
  width: 100%;
}

.team-section-content {
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.team-list-subtitle {
  color: #2e2f42;
  text-align: center;
  font-family: inherit;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
}
.team-list-text {
  color: inherit;
  text-align: center;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

.team-icons-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.team-icon-item {
  display: flex;
  width: 40px;
  height: 40px;
}

.team-icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 12px;
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icon-svg {
  fill: #f4f4fd;
}
/* ----------- */

/* ----- PORTFOLIO------ */
.portfolio {
}
.portfolio-title {
  color: #2e2f42;
  text-align: center;
  font-family: inherit;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin: 0 auto 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.portfolio-item {
  width: calc((100% - 48px) / 3);
  display: flex;
  width: 360px;
  height: 420px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-list-img {
  margin: 0 auto;
}

.portfolio-cards {
  position: relative;
  overflow: hidden;
}
.portfolio-item:hover .portfolio-card-text {
  transform: translateY(0);
}

.portfolio-card-text {
  position: absolute;
  display: flex;
  padding: 40px 32px;
  top: 0;
  background: #4d5ae5;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card-text {
  color: #f4f4fd;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

.portfolio-text-cotent {
  display: flex;
  padding: 0px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  padding-top: 32px;
  padding-bottom: 32px;
  border: 1px solid var(--CORNFLOWER, #e7e9fc);
  background: var(--WHITE, #fff);
  border-top: none;
}
.portfolio-subtitle {
  color: #2e2f42;
  font-family: inherit;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.portfolio-list-text {
  color: inherit;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
/* ----------- */

/* ----- Footer------ */

.footer {
  background: var(--NAVY-BLUE, #2e2f42);
  padding-bottom: 100px;
  padding-top: 100px;
  display: flex;
  gap: 80px;
  align-items: baseline;
}

.footer-container {
  display: flex;
}
.footer-content {
  margin-right: 120px;
}
.footer-logo {
  display: inline-block;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.footer-logo-studio {
  color: #f4f4fd;
}
.footer-text {
  color: var(--CLOUD, #f4f4fd);
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  width: 100%;
  max-width: 264px;
}
.social-media {
  margin-right: 80px;
}
.subtitle-icon {
  color: var(--WHITE, #fff);

  /* Body Medium */
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.team-icons-list-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.team-icon-item-footer {
  display: flex;
  width: 40px;
  height: 40px;
}
.team-icon-link-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 8px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icon-svg-footer {
  fill: #f4f4fd;
}
.footer-form-conteiner {
}
.footer-form {
  display: flex;
  gap: 24px;
}
.footer-input {
  width: 264px;
  height: 40px;
  top: 140px;
  left: 828px;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid #ffffff;
  padding: 0 16px;
  color: #ffffff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.footer-input::placeholder {
  color: #ffffff;
}

.footer-form-btn {
  color: #ffffff;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  height: 40px;
  padding: 8px 24px;
  border-radius: 4px;
  background: #4d5ae5;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 165px;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.send-icon {
  width: 24px;
  height: 24px;
  fill: #ffffff;
  margin-left: 16px;
}

/* ----------- */

/* -------------FORM---------- */

/* .is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
} */
.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: #2e2f4266;
  /* opacity: 0;
  visibility: hidden;
  pointer-events: none; */
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background: #fcfcfc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn {
  display: flex;
  margin-left: auto;
  position: absolute;
  cursor: pointer;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  border-radius: 50%;
  padding: 0;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-align: center;
  max-width: 360px;
  margin-bottom: 16px;
}

.modal-form {
  margin-bottom: 24px;
}
.modal-field {
  margin-bottom: 8px;
}
.modal-field-comment {
  margin-bottom: 16px;
}

.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.modal-input-wrap {
  position: relative;
  margin-top: 4px;
}
.modal-input {
  width: 100%;
  width: 360px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #2e2f4266;
  background-color: transparent;
  outline: transparent;
  color: #1e1823;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: #4d5ae5;
}
.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}
.modal-icon {
  fill: transparent;
  fill: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
  margin-top: 4px;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid #2e2f4266;
  background-color: transparent;
  outline: transparent;
  box-shadow: 0px 5.445px 5.445px 0px rgba(0, 0, 0, 0.03);
  color: rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text:focus {
  border-color: #4d5ae5;
}
.modal-text::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #2e2f4266;
}
.modal-check {
  margin-bottom: 24px;
}
.check-text {
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  align-items: center;
  position: relative;
}

.check-text a {
  color: #4d5ae5;
  text-decoration: underline;
}

.check-text span {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid #2e2f4266;
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-input:checked + .check-text span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.button-send {
  min-width: 169px;
  height: 56px;
  display: block;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  background: #4d5ae5;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px #00000026;
  border: none;
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-send:hover,
.button-send:focus {
  background-color: #404bbf;
  border: none;
}
